body {
    background-color: skyblue;
    color: black;
    font-size: 16px;

}

h1 {
    font-size: 45px;
    text-align: center;
}

div {
    margin: auto;
    text-align: center;
    max-width: 450px;
    
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);

}

h2 {
    font-size: 22px;
    color: rgb(231, 166, 45);

}

p strong {
    color: rgb(77, 77, 204);
}

p a {
    text-decoration: none;
}